---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "hoge";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Welcome to My Astro Site</h2>
</BaseLayout>
